@import "ref";

nav {
    background: linear-gradient(30deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05));
    border-radius: 15px;
    padding: 1em 2em;
    margin: 1rem;
    display: flex;
    color: white;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.667);
}

h1 {
    margin: 0;
    font-family: $font2;
    font-size: 48px;
    font-weight: 900;
}
